body{
    background-image: url("../images/OfflineBannerNoText.png");
    background-repeat: no-repeat;
    background-color: #3f3574;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: wheat;
}


.test{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}